<ion-view view-title="Pending Requests">
  <ion-content>
    <ion-list>
      <ion-item>
        <label class="item item-show">
          <span class="input-label">Booking</span>
          <span class="input-label">From {{pendingData.pickupAddress}}</span>
          <span class="input-label">To {{pendingData.destinationAddress}}</span>
          <span class="input-label">Taxi will arrive in {{pendingData.timeOfArrival}}</span>
          <span class="input-label">Approximately {{pendingData.cost}} to pay</span>
        </label>
      </ion-item>
    </ion-list>

    <button class="button button-stable button-block " ng-click="showNewRequest()">Test Pusher</button>

  </ion-content>
</ion-view>