<ion-view view-title="Payments History">
  <ion-content>
  	<ion-list>
  		<ion-item>
  			<label class="item item-show">
		    	<span class="input-label">From Raatuse 22, 51009, Tartu, Estonia</span>
		    	<span class="input-label">To Raatuse 96, 51010, Tartu, Estonia</span>
		    	<span class="input-label">€3.43 paid</span>
			</label>
  		</ion-item>

  		<ion-item>
  			<label class="item item-show">
		    	<span class="input-label">From Juhan Liivi 2, 50409, Tartu, Estonia</span>
		    	<span class="input-label">To Tartu Bus Station, 51013 Tartu, Estonia</span>
		    	<span class="input-label">€5 paid</span>
			</label>
  		</ion-item>

  		<ion-item>
  			<label class="item item-show">
		    	<span class="input-label">From Tallinna Bussijaam, Lastekodu 46, 10144 Tallinn, Estonia</span>
		    	<span class="input-label">To Old City Harbor (Port of Tallinn), 10111 Tallinn, Estonia</span>
		    	<span class="input-label">€8.40 paid</span>
			</label>
  		</ion-item>

  		<ion-item>
  			<label class="item item-show">
		    	<span class="input-label">From Raatuse 22</span>
		    	<span class="input-label">To Raatuse 96</span>
		    	<span class="input-label">€3.43 paid</span>
			</label>
  		</ion-item>

  		<ion-item>
  			<label class="item item-show">
		    	<span class="input-label">From Juhan Liivi 2, 50409 Tartu, Estonia</span>
		    	<span class="input-label">To Pärnu, Pärnu County, Estonia</span>
		    	<span class="input-label">€338 paid</span>
			</label>
  		</ion-item>

  		<ion-item>
  			<label class="item item-show">
		    	<span class="input-label">From Juhan Liivi 2, 50409, Tartu, Estonia</span>
		    	<span class="input-label">To Tartu Bus Station, 51013 Tartu, Estonia</span>
		    	<span class="input-label">€5.00 paid</span>
			</label>
  		</ion-item>
  		<ion-item>
  			<label class="item item-show">
		        <span class="input-label">Request made on 13/11/2016</span>
		    	<span class="input-label">From Raatuse 22</span>
		    	<span class="input-label">To Raatuse 96</span>
		    	<span class="input-label">2.45 Km total distance</span>
		    	<span class="input-label">€3.43 paid</span>
			</label>
  		</ion-item>

  		<ion-item>
  			<label class="item item-show">
		        <span class="input-label">Request made on 13/11/2016</span>
		    	<span class="input-label">From Raatuse 22</span>
		    	<span class="input-label">To Raatuse 96</span>
		    	<span class="input-label">2.45 Km total distance</span>
		    	<span class="input-label">€3.43 paid</span>
			</label>
  		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>