<ion-view title="Welcome to the STRS Customer's App">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" required ng-model="loginData.username" name="username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" required ng-model="loginData.password" name="password">
            </label>
            <label class="item item-input">
              <button class="button button-block button-positive" ng-click="submit()">Login</button>
            </label>

            <ion-item>
              <button class="button button-block button-energized" ng-click="goRegister()">Register</button>

            </ion-item>

        </form>
    </ion-content>
</ion-view>
