<ion-view title="Welcome!">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="formData.username" value="barcelona">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="formData.password">
            </label>
            <button class="button button-stable button-block " ng-click="submit()">Start</button>

            <ion-item>
                <span class="input-label">Don't have an account? <a ui-sref="profile.create">Create it now!</a></span>
            </ion-item>
            
        </form>
    </ion-content>
</ion-view>