<ion-view title="New booking">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">Your current location is: </span>
                <input type="text" placeholder="" disabled="disabled" value="Liivi 2">
            </label>

            <label class="item item-input">
                <span class="input-label">Enter destination address: </span>
                <input type="text" placeholder="">
            </label>

            <label class="item item-input">
                <span class="input-label">Latitude: </span>
                <input type="number" placeholder="" disabled="disabled" value="-2.76787667">
            </label>

            <label class="item item-input">
                <span class="input-label">Longitude: </span>
                <input type="number" placeholder="" disabled="disabled" value="-79.5534533">
            </label>

            <label class="item item-input">
                <span class="input-label">Approx. time of arrival: </span>
                <input type="number" placeholder="" disabled="disabled">
            </label>

            <button class="button button-stable button-block " ng-click="submitBooking()">Submit booking request!</button>
        </form>
    </ion-content>
</ion-view>