<ion-view title="Add Credit Card">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">Credit Card Type</span>
                <select ng-model="ccData.type">
                    <option>VISA</option>
                    <option>MasterCard</option>
                    <option>Discover</option>
                    <option>Diners Club</option>
                    <option>American Express</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Credit Card Number</span>
                <input type="text" pattern="\d*" maxlength="16" ng-model="ccData.ccNumber">
            </label>

            <label class="item item-input">
                <span class="input-label">CVV</span>
                <input type="text" pattern="\d*" maxlength="4" ng-model="ccData.cvv">
            </label>

            <label class="item item-input">
                <span class="input-label">Expiration</span>
                <select ng-model="ccData.month">
                    <option selected="selected">1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>

                <select ng-model="ccData.year">
                    <option>2016</option>
                    <option selected="selected">2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                </select>
            </label>

            <button class="button button-block button-positive" ng-click="saveCreditCardInfo()">Save Credit Card</button>

        </form>
    </ion-content>
</ion-view>
