<ion-view title="Profile">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name" value="Gerson" disabled="disabled">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name" value="Noboa" disabled="disabled">
            </label>

            <label class="item item-input">
                <span class="input-label">Email address</span>
                <input type="email" placeholder="example@ut.ee" value="gerson.noboa@ut.ee" disabled="disabled">
            </label>

            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Min. 6 characters" value="250991" disabled="disabled">
            </label>

            <label class="item item-input">
                <span class="input-label">Repeat password</span>
                <input type="password" placeholder="Min. 6 characters" value="250991" disabled="disabled">
            </label>
        </form>
    </ion-content>
</ion-view>